NODE_ENV=development
PORT=3000
MONGODB_URI=
SESSION_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
MAPBOX_ACCESS_TOKEN=
MAX_UPLOAD_SIZE_MB=5
UPLOAD_DIRECTORY=public/uploads
